<div class="row d-flex justify-content-center my-3">
    <div class="col-sm-4 d-flex justify-content-between my-5">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <form method="post" action="/admin-action">
            <div class="mb-3 form-control">
              <label for="username" class="form-label">Usename</label>
              <input type="text" class="form-control" name="username" placeholder="Enter your username">
            </div>
            <div class="mb-3 form-control">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" value="Login" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="card-footer">
          <a href="/admin/register">Don't have a account ?</a>
      </div>
      </div>
    </div>
  </div>