<div class="row d-flex justify-content-center my-3">
    <div class="col-sm-4 d-flex justify-content-between my-5">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Create-Post</h5>
                <form method="POST" action="/create/post-action">

                    <div class="mb-3 form-control">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" name="title" placeholder="Enter your title">
                    </div>

                    <div class="mb-3 form-control">
                        <label for="body" class="form-label">Body</label>
                        <textarea name="body" id="body" cols="30" rows="5"></textarea>
                    </div>

                    <button type="submit" value="create" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>